{% extends 'blog/base.html' %}
{% load highlight %}

{% block main %}
    {% if query %}
        {% for result in page.object_list %}
            <article class="post post-{{ result.object.pk }}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <a href="{{ result.object.get_detail_url }}">{% highlight result.object.title with query %}</a>
                    </h1>
                    <div class="entry-meta">
                        <span class="post-author"><a href="{% url 'blog:article_author' result.object.author.pk %}">{{ result.object.author }}</a></span>
                        <span class="post-category"><a href="{% url 'blog:article_category' result.object.category.pk %}">{{ result.object.category.name }}</a></span>
                        <span class="post-date"><a href="{% url 'blog:article_archives' result.object.create_at.year result.object.create_at.month %}">
                            <time class="entry-date" datetime="{{ result.object.create_at }}">{{ result.object.create_at }}</time>
                        </a></span>
                        <span class="comments-link"><a href="{{ result.object.get_detail_url }}#comment-area">共{{ result.object.comment_set.count }}条评论</a></span>
                        <span class="views-count"><a href="{{ result.object.get_detail_url }}">{{ result.object.browse }}次阅读</a></span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p>{{ article.excerpt }} ...</p>
                    <div class="read-more cl-effect-14">
                        <a href="{{ result.object.get_detail_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                    </div>
                </div>
            </article>
        {% empty %}
            <div class="no-post">没有匹配的结果！</div>
        {% endfor %}
    {% else %}
        请输入搜索关键字，例如python
    {% endif %}
{% endblock main %}